<!doctype html>
<!--[if lt IE 7]>
<html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>
<html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>
<html class="lt-ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US"> <!--<![endif]-->
<head>
<meta charset="UTF-8">

<link rel="shortcut icon" href="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2014/05/favicon.png"/>

<!-- Define a viewport to mobile devices to use - telling the browser to assume that the page is as wide as the device (width=device-width) and setting the initial page zoom level to be 1 (initial-scale=1.0) -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<title>Недвижимость</title>

{% block stylesheets %}
{% stylesheets
'bundles/wp-content/plugins/dsidxpress/css/dsidx-icons.css'
'bundles/wp-content/plugins/dsidxpress/css/client.css'
'bundles/wp-content/plugins/dsidxpress/css/client.css'
'bundles/wp-content/plugins/dsidxpress/dsidxwidgets/css/client.css'
'bundles/wp-content/plugins/quick-and-easy-faqs/public/css/css/font-awesome.min.css'
'bundles/wp-content/plugins/quick-and-easy-faqs/public/css/css/font-awesome.min.css'
'bundles/wp-content/plugins/quick-and-easy-faqs/public/css/quick-and-easy-faqs-public.css'
'bundles/wp-content/plugins/quick-and-easy-testimonials/public/css/quick-and-easy-testimonials-public.css'
'bundles/wp-content/plugins/responsive-mortgage-calculator/css/style.css'
'@WebAntAppBundle/Resources/public/css/dsidxpress.css'
'bundles/wp-content/plugins/revslider/rs-plugin/css/settings.css'
'bundles/wp-content/themes/realhomes/css/bootstrap.css'
'bundles/wp-content/themes/realhomes/css/responsive.css'
'bundles/wp-content/themes/realhomes/js/flexslider/flexslider.css'
'bundles/wp-content/themes/realhomes/js/prettyphoto/css/prettyPhoto.css'
'bundles/wp-content/themes/realhomes/js/swipebox/css/swipebox.min.css'
'bundles/wp-content/themes/realhomes/css/main.css'
'bundles/wp-content/themes/realhomes/css/custom-responsive.css'
'bundles/wp-content/themes/realhomes/style.css'
'bundles/wp-content/themes/realhomes/css/main.css'
'bundles/wp-content/themes/realhomes/css/custom.css'
'bundles/wp-content/themes/realhomes-child/style.css'
'bundles/wp-content/themes/realhomes-child/child-custom.css'
'bundles/wp-content/plugins/revslider/rs-plugin/css/settings.css'
'@WebAntAppBundle/Resources/public/css/main.css'
filter='cssrewrite' %}
{#<link rel="stylesheet" type="text/css" href="{{ asset_url }}"  />#}
<link rel='stylesheet' href="{{ asset_url }}"
      type='text/css' media='all'/>
{% endstylesheets %}
{% endblock %}







<style id='rs-plugin-settings-inline-css' type='text/css'>
    .tp-button.green.custom {
        font-size: 16px;
        text-transform: uppercase;
        border-radius: 0;
        box-shadow: none;
        text-shadow: none;
        padding: 10px 15px;
        letter-spacing: 1px;
        background: #ec894d
    }
</style>
<link rel='stylesheet' id='theme-roboto-css'
      href='http://fonts.googleapis.com/css?family=Roboto%3A400%2C400italic%2C500%2C500italic%2C700%2C700italic&#038;subset=latin%2Ccyrillic&#038;ver=4.2.2'
      type='text/css' media='all'/>
<link rel='stylesheet' id='theme-lato-css'
      href='http://fonts.googleapis.com/css?family=Lato%3A400%2C700%2C400italic%2C700italic&#038;ver=4.2.2'
      type='text/css' media='all'/>


{% javascripts
'@WebAntAppBundle/Resources/public/wp-includes/js/jquery/jquery.js'
'@WebAntAppBundle/Resources/public/wp-includes/js/jquery/jquery-migrate.min.js'
'@WebAntAppBundle/Resources/public/js/dsidxpress.js'
'@WebAntAppBundle/Resources/public/wp-content/plugins/quick-and-easy-faqs/public/js/quick-and-easy-faqs-public.js'
'@WebAntAppBundle/Resources/public/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.tools.min.js'
'@WebAntAppBundle/Resources/public/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.revolution.min.js'
'@WebAntAppBundle/Resources/public/wp-content/themes/realhomes/js/flexslider/jquery.flexslider-min.js'
'@WebAntAppBundle/Resources/public/wp-content/themes/realhomes/js/elastislide/jquery.easing.1.3.js'
'@WebAntAppBundle/Resources/public/wp-content/themes/realhomes/js/elastislide/jquery.elastislide.js'
'@WebAntAppBundle/Resources/public/wp-content/themes/realhomes/js/prettyphoto/jquery.prettyPhoto.js'
'@WebAntAppBundle/Resources/public/wp-content/themes/realhomes/js/swipebox/js/jquery.swipebox.min.js'
'@WebAntAppBundle/Resources/public/wp-content/themes/realhomes/js/isotope.pkgd.min.js'
'@WebAntAppBundle/Resources/public/wp-content/themes/realhomes/js/jquery.validate.min.js'
'@WebAntAppBundle/Resources/public/wp-content/themes/realhomes/js/jquery.form.js'
'@WebAntAppBundle/Resources/public/wp-content/themes/realhomes/js/jquery.selectbox.js'
'@WebAntAppBundle/Resources/public/wp-content/themes/realhomes/js/jquery.transit.min.js'
'@WebAntAppBundle/Resources/public/wp-content/themes/realhomes/js/bootstrap.min.js'

'@WebAntAppBundle/Resources/public/wp-content/plugins/responsive-mortgage-calculator/js/lidd-mc.js'
'@WebAntAppBundle/Resources/public/wp-includes/js/jquery/ui/core.min.js'
'@WebAntAppBundle/Resources/public/wp-includes/js/jquery/ui/widget.min.js'
'@WebAntAppBundle/Resources/public/wp-includes/js/jquery/ui/position.min.js'
'@WebAntAppBundle/Resources/public/wp-includes/js/jquery/ui/menu.min.js'
'@WebAntAppBundle/Resources/public/wp-includes/js/jquery/ui/autocomplete.min.js'
'@WebAntAppBundle/Resources/public/wp-includes/js/comment-reply.min.js'

'@WebAntAppBundle/Resources/public/js/auth_failer.js'

%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}


{#{% for item in javascripts %}#}
{#<script type="text/javascript" src="{{ item }}"></script>#}
{#{% endfor %}#}







{#<link rel="EditURI" type="application/rsd+xml" title="RSD"
        href="http://inspirythemesdemo.com/realhomes/xmlrpc.php?rsd"/>
<link rel="wlwmanifest" type="application/wlwmanifest+xml"
      href="http://inspirythemesdemo.com/realhomes/wp-includes/wlwmanifest.xml"/>#}


<script type="text/javascript">
    jQuery(document).ready(function () {
        // CUSTOM AJAX CONTENT LOADING FUNCTION
        var ajaxRevslider = function (obj) {

            // obj.type : Post Type
            // obj.id : ID of Content to Load
            // obj.aspectratio : The Aspect Ratio of the Container / Media
            // obj.selector : The Container Selector where the Content of Ajax will be injected. It is done via the Essential Grid on Return of Content

            var content = "";

            data = {};

            data.action = 'revslider_ajax_call_front';
            data.client_action = 'get_slider_html';
            data.token = '37730a19e0';
            data.type = obj.type;
            data.id = obj.id;
            data.aspectratio = obj.aspectratio;

            // SYNC AJAX REQUEST
            jQuery.ajax({
                type: "post",
                url: "http://inspirythemesdemo.com/realhomes/wp-admin/admin-ajax.php",
                dataType: 'json',
                data: data,
                async: false,
                success: function (ret, textStatus, XMLHttpRequest) {
                    if (ret.success == true)
                        content = ret.data;
                },
                error: function (e) {
                    console.log(e);
                }
            });

            // FIRST RETURN THE CONTENT WHEN IT IS LOADED !!
            return content;
        };

        // CUSTOM AJAX FUNCTION TO REMOVE THE SLIDER
        var ajaxRemoveRevslider = function (obj) {
            return jQuery(obj.selector + " .rev_slider").revkill();
        };

        // EXTEND THE AJAX CONTENT LOADING TYPES WITH TYPE AND FUNCTION
        var extendessential = setInterval(function () {
            if (jQuery.fn.tpessential != undefined) {
                clearInterval(extendessential);
                if (typeof(jQuery.fn.tpessential.defaults) !== 'undefined') {
                    jQuery.fn.tpessential.defaults.ajaxTypes.push({
                        type: "revslider",
                        func: ajaxRevslider,
                        killfunc: ajaxRemoveRevslider,
                        openAnimationSpeed: 0.3
                    });
                    // type:  Name of the Post to load via Ajax into the Essential Grid Ajax Container
                    // func: the Function Name which is Called once the Item with the Post Type has been clicked
                    // killfunc: function to kill in case the Ajax Window going to be removed (before Remove function !
                    // openAnimationSpeed: how quick the Ajax Content window should be animated (default is 0.3)
                }
            }
        }, 30);
    });
</script>

<style type='text/css' id='dynamic-css'>

    .header-wrapper, #currency-switcher #selected-currency, #currency-switcher-list li {
        background-color: #252A2B;
    }

    #logo h2 a {
        color: #ffffff;
    }

    #logo h2 a:hover, #logo h2 a:focus, #logo h2 a:active {
        color: #4dc7ec;
    }

    .tag-line span {
        color: #8b9293;
    }

    .tag-line span {
        background-color: #343a3b;
    }

    .page-head h1.page-title span {
        color: #394041;
    }

    .page-head h1.page-title span {
        background-color: #f5f4f3;
    }

    .page-head p {
        color: #ffffff;
    }

    .page-head p {
        background-color: #37B3D9;
    }

    .header-wrapper, #contact-email, #contact-email a, .user-nav a, .social_networks li a, #currency-switcher #selected-currency, #currency-switcher-list li {
        color: #929A9B;
    }

    #contact-email a:hover, .user-nav a:hover {
        color: #b0b8b9;
    }

    #header-top, .social_networks li a, .user-nav a, .header-wrapper .social_networks, #currency-switcher #selected-currency, #currency-switcher-list li {
        border-color: #343A3B;
    }

    .main-menu ul li a {
        color: #afb4b5;
    }

    .main-menu ul li.current-menu-ancestor > a, .main-menu ul li.current-menu-parent > a, .main-menu ul li.current-menu-item > a, .main-menu ul li.current_page_item > a, .main-menu ul li:hover > a, .main-menu ul li ul, .main-menu ul li ul li ul {
        background-color: #ec894d;
    }

    .main-menu ul li.current-menu-ancestor > a, .main-menu ul li.current-menu-parent > a, .main-menu ul li.current-menu-item > a, .main-menu ul li.current_page_item > a, .main-menu ul li:hover > a, .main-menu ul li ul, .main-menu ul li ul li a, .main-menu ul li ul li ul, .main-menu ul li ul li ul li a {
        color: #ffffff;
    }

    .main-menu ul li ul li:hover > a, .main-menu ul li ul li ul li:hover > a {
        background-color: #dc7d44;
    }

    .slide-description h3, .slide-description h3 a {
        color: #394041;
    }

    .slide-description h3 a:hover, .slide-description h3 a:focus, .slide-description h3 a:active {
        color: #df5400;
    }

    .slide-description p {
        color: #8b9293;
    }

    .slide-description span {
        color: #df5400;
    }

    .slide-description .know-more {
        color: #ffffff;
    }

    .slide-description .know-more {
        background-color: #37b3d9;
    }

    .slide-description .know-more:hover {
        background-color: #2aa6cc;
    }

    .property-item {
        background-color: #ffffff;
    }

    .property-item, .property-item .property-meta, .property-item .property-meta span {
        border-color: #dedede;
    }

    .property-item h4, .property-item h4 a, .es-carousel-wrapper ul li h4 a {
        color: #394041;
    }

    .property-item h4 a:hover, .property-item h4 a:focus, .property-item h4 a:active, .es-carousel-wrapper ul li h4 a:hover, .es-carousel-wrapper ul li h4 a:focus, .es-carousel-wrapper ul li h4 a:active {
        color: #df5400;
    }

    .property-item .price, .es-carousel-wrapper ul li .price, .property-item .price small {
        color: #ffffff;
    }

    .property-item .price, .es-carousel-wrapper ul li .price {
        background-color: #4dc7ec;
    }

    .property-item figure figcaption {
        color: #ffffff;
    }

    .property-item figure figcaption {
        background-color: #ec894d;
    }

    .property-item p, .es-carousel-wrapper ul li p {
        color: #8b9293;
    }

    .more-details, .es-carousel-wrapper ul li p a {
        color: #394041;
    }

    .more-details:hover, .more-details:focus, .more-details:active, .es-carousel-wrapper ul li p a:hover, .es-carousel-wrapper ul li p a:focus, .es-carousel-wrapper ul li p a:active {
        color: #df5400;
    }

    .property-item .property-meta span {
        color: #394041;
    }

    .property-item .property-meta {
        background-color: #f5f5f5;
    }

    #footer .widget .title {
        color: #394041;
    }

    #footer .widget .textwidget, #footer .widget, #footer-bottom p {
        color: #8b9293;
    }

    #footer .widget ul li a, #footer .widget a, #footer-bottom a {
        color: #75797A;
    }

    #footer .widget ul li a:hover, #footer .widget ul li a:focus, #footer.widget ul li a:active, #footer .widget a:hover, #footer .widget a:focus, #footer .widget a:active, #footer-bottom a:hover, #footer-bottom a:focus, #footer-bottom a:active {
        color: #dc7d44;
    }

    #footer-bottom {
        border-color: #dedede;
    }

    .real-btn {
        color: #ffffff;
    }

    .real-btn {
        background-color: #ec894d;
    }

    .real-btn:hover, .real-btn.current {
        color: #ffffff;
    }

    .real-btn:hover, .real-btn.current {
        background-color: #e3712c;
    }

    @media (min-width: 980px) {
        .contact-number, .contact-number .outer-strip {
            background-color: #4dc7ec;
        }

        .contact-number {
            color: #e7eff7;
        }

        .contact-number .fa-phone {
            background-color: #37b3d9;
        }

    }
</style>
<script type="text/javascript">
    var RecaptchaOptions = {
        theme: 'custom',
        custom_theme_widget: 'recaptcha_widget'
    };
</script>

<script type="text/javascript">
    if (typeof localdsidx == "undefined" || !localdsidx) {
        var localdsidx = {};
    }
    ;
    localdsidx.pluginUrl = "/realhomes/wp-content/plugins/dsidxpress/";
    localdsidx.homeUrl = "http://inspirythemesdemo.com/realhomes";
</script>
<script type="text/javascript">
    if (typeof localdsidx == "undefined" || !localdsidx) {
        var localdsidx = {};
    }
    ;
    localdsidx.pluginUrl = "/realhomes/wp-content/plugins/dsidxpress/";
    localdsidx.homeUrl = "http://inspirythemesdemo.com/realhomes";
</script>



</head>
<body class="page page-id-128 page-template page-template-template-agent-listing page-template-template-agent-listing-php">

<!-- Start Header -->
<div class="header-wrapper">

    <div class="container"><!-- Start Header Container -->

        <header id="header" class="clearfix">

            <div id="header-top" class="clearfix">
                <h2 id="contact-email">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
<path class="path" d="M8.174 15.926l-6.799 5.438c-0.431 0.346-0.501 0.975-0.156 1.406s0.974 0.5 1.4 0.156l7.211-5.769L8.174 15.926z"></path>
                        <path class="path" d="M15.838 15.936l-1.685 1.214l7.222 5.777c0.433 0.3 1.1 0.3 1.406-0.156c0.345-0.432 0.274-1.061-0.157-1.406 L15.838 15.936z"></path>
                        <polygon class="path" points="1,10.2 1.6,10.9 12,2.6 22,10.6 22,22 2,22 2,10.2 1,10.2 1.6,10.9 1,10.2 0,10.2 0,24 24,24 24,9.7 12,0 0,9.7 0,10.2 1,10.2 1,10.2"></polygon>
                        <polygon class="path" points="23.6,11.7 12.6,19.7 11.4,19.7 0.4,11.7 0.4,11.7 0.4,11.7 1.6,10.1 12,17.6 22.4,10.1"></polygon>
</svg>
                    Email us at : <a href="mailto:don.estate@mail.ru">don.estate@mail.ru</a>
                </h2>
                <div class="user-nav clearfix">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                         {{ app.user.username }}&nbsp;&nbsp;
                        <a class="last" href="/admin/logout" data-toggle="modal"><i class="fa fa-sign-out"></i>Logout</a>
                    {% else %}
                        <a class="last" href="#login-modal" data-toggle="modal"><i class="fa fa-sign-in"></i>Login</a>
                    {% endif %}

                </div>
            </div>
            <div id="logo">
                <a title="Дон-эстейт" href="/">
                    {% image '@WebAntAppBundle/Resources/images/logo.png'  output="images/your-image.jpg" %}
                    <img src="{{ asset_url }}" width="200" alt="Дон-эстейт" class="pull-left">
                    {% endimage %}
                </a>
            </div>
            <div class="menu-and-contact-wrap">
                <h2 class="contact-number "><i class="fa fa-phone"></i><span class="desktop-version">+7 (928) 628-63-53</span><a class="mobile-version" href="tel://+7928-628-6353" title="Позвонить">+7 (928) 628-63-53</a><span class="outer-strip" style="right: -89.5px; width: 89.5px;"></span></h2>
                <!-- Start Main Menu-->
                <nav class="main-menu">
                    <div class="menu-main-menu-container">
                        <ul id="menu-main-menu" class="clearfix">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                <a href="/">Главная</a> </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                <a href="/map">Контакты</a> </li>
                            {% if is_granted("ROLE_ADMIN") %}
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                    <a href="admin/dashboard">сайт</a>

                                        <ul class="sub-menu">

                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-720">
                                                <a href="admin/webant/app/realty/list">
                                                    список недвижимости
                                                </a>
                                            </li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-720">
                                                <a href="admin/webant/app/user/list">
                                                    список пользователей
                                                </a>
                                            </li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-720">
                                                <a href="admin/adv_user/list">
                                                    список рекламных пользователей
                                                </a>
                                            </li>
                                        </ul>


                                </li>
                            {% elseif is_granted("ROLE_USER") %}
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                    <a href="admin/webant/app/realty/list">список недвижимости</a> </li>
                            {% endif %}
                            {#{% for item in navigation %}
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                <a href="{{ item.href }}">{{ item.caption }}</a>
                                {% if item.submenu is defined %}
                                <ul class="sub-menu">
                                    {% for item in item.submenu %}
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-720">
                                        <a href="{{ item.href }}">
                                            {{ item.caption }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}

                            </li>
                            {% endfor %}#}
                        </ul>

                    </div>
                </nav>
                <!-- End Main Menu -->
            </div>

        </header>

    </div>
    <!-- End Header Container -->

</div>
<!-- End Header -->

<!-- Content -->
{% block content %}
{% endblock %}
<!-- End Content -->

<!-- Start Footer -->
<footer id="footer-wrapper">
    <div id="footer" class="container">
        <div class="row">
            <div class="span3">
                <section id="text-4" class="widget clearfix widget_text"><h3 class="title">Главный офис</h3>
                    <div class="textwidget">
                        <p>
                            Варфоломеева 259
                        </p>
                    </div>
                </section>
            </div>
            <div class="span3">
                <section id="text-4" class="widget clearfix widget_text"><h3 class="title">Второй офис</h3>
                    <div class="textwidget">
                        <p>БЦ "Купеческий Двор" Социалистическая ул., 74</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<!-- Login Modal -->
<div id="login-modal" class="forms-modal modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <p>You need to log in to use member only features.</p>
    </div>

    <!-- start of modal body -->
    <div class="modal-body">

        <!-- login section -->
        <div class="login-section modal-section">
            <h4>Login</h4>

            <form id="login-form" class="login-form" action="login_check"
                  method="post">
                <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}">

                <div class="form-option">
                    <label for="username">Имя пользователя:<span>*</span></label>
                    <input id="username" name="_username" type="text" class="required" title="* Введите логин"
                           autofocus required/>
                </div>
                <div class="form-option">
                    <label for="password">Пароль:<span>*</span></label>
                    <input id="password" name="_password" type="password" class="required" title="* Введите пароль"
                           required/>
                </div>

                <div class="g-popup__error" hidden="true">
                                <span>
                                    Неверный логин или пароль
                                </span>
                </div>

                <input type="submit" name="submit" value="Войти" class="real-btn login-btn"/>

            </form>
            {#<p>#}
            {#<a class="activate-section" data-section="register-section" href="#">Register Here</a>#}
            {#<span class="divider">-</span>#}
            {#<a class="activate-section" data-section="forgot-section" href="#">Forgot Password</a>#}
            {#</p>#}
        </div>

        {#<!-- forgot section -->#}
        {#<div class="forgot-section modal-section">#}
        {#<h4>Reset Password</h4>#}

        {#<form action="http://inspirythemesdemo.com/realhomes/wp-login.php?action=lostpassword" id="forgot-form"#}
        {#method="post">#}
        {#<div class="form-option">#}
            {#<label for="user_login">User Name or Email<span>*</span></label>#}
            {#<input id="user_login" name="user_login" type="text" class="required"#}
            {#title="* Please provide user name or email!" required/>#}
            {#</div>#}
        {#<input type="hidden" name="user-cookie" value="1"/>#}
        {#<input type="submit" name="user-submit" value="Reset Password" class="real-btn register-btn"/>#}
        {#</form>#}
        {#<p>#}
            {#<a class="activate-section" data-section="login-section" href="#">Login Here</a>#}
            {#<span class="divider">-</span>#}
            {#<a class="activate-section" data-section="register-section" href="#">Register Here</a>#}
            {#</p>#}
        {#</div>#}

        {#<!-- register section -->#}
        {#<div class="register-section modal-section">#}
        {#<h4>Register</h4>#}
        {#<form action="register/" id="register-form"#}
        {#method="post">#}

        {#<div class="form-option">#}
            {#<label for="username">Имя пользователя:<span>*</span></label>#}
            {#<input id="username" name="fos_user_registration_form[username]" type="text" class="required"#}
            {#title="* Please provide user name!" required/>#}
            {#</div>#}

        {#<div class="form-option">#}
            {#<label for="user_email">Электронная почта:<span>*</span></label>#}
            {#<input id="user_email" name="fos_user_registration_form[email]" type="text" class="email required"#}
            {#title="* Please provide valid email address!" required/>#}
            {#</div>#}

        {#<div class="form-option">#}
            {#<label for="user_email">Пароль:<span>*</span></label>#}
            {#<input id="user_email" name="fos_user_registration_form[plainPassword][first]" type="text" class="email required"#}
            {#title="* Please provide valid email address!" required/>#}
            {#</div>#}

        {#<div class="form-option">#}
            {#<label for="user_email">Подтвердите пароль:<span>*</span></label>#}
            {#<input id="user_email" name="fos_user_registration_form[plainPassword][second]" type="text" class="email required"#}
            {#title="* Please provide valid email address!" required/>#}
            {#</div>#}

        {#<input type="submit" name="user-submit" value="Register" class="real-btn register-btn"/>#}
        {#</form>#}
        {#<p>#}
            {#<a class="activate-section" data-section="login-section" href="#">Login Here</a>#}
            {#<span class="divider">-</span>#}
            {#<a class="activate-section" data-section="forgot-section" href="#">Forgot Password</a>#}
            {#</p>#}
        {#</div>#}

    </div>
    <!-- end of modal-body -->

</div>
<a href="#top" id="scroll-top"><i class="fa fa-chevron-up"></i></a>

{#<script type='text/javascript'
          src='../wp-content/plugins/responsive-mortgage-calculator/js/lidd-mc.js'></script>#}
<script type='text/javascript'
        src='http://inspirythemesdemo.com/realhomes/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4'></script>
<script type='text/javascript'
        src='http://inspirythemesdemo.com/realhomes/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4'></script>
<script type='text/javascript'
        src='http://inspirythemesdemo.com/realhomes/wp-includes/js/jquery/ui/position.min.js?ver=1.11.4'></script>
<script type='text/javascript'
        src='http://inspirythemesdemo.com/realhomes/wp-includes/js/jquery/ui/menu.min.js?ver=1.11.4'></script>
<script type='text/javascript'
        src='http://inspirythemesdemo.com/realhomes/wp-includes/js/jquery/ui/autocomplete.min.js?ver=1.11.4'></script>
<script type='text/javascript'
        src='http://inspirythemesdemo.com/realhomes/wp-includes/js/comment-reply.min.js?ver=4.2.2'></script>

<script type='text/javascript'>
    /* <![CDATA[ */
    var localized = {"nav_title": "Go to...", "rent_slug": "for-rent"};
    var locationData = {
        "any": "Any",
        "all_locations": [{
            "term_id": "25",
            "name": "Miami",
            "slug": "miami",
            "term_group": "0",
            "term_taxonomy_id": "25",
            "taxonomy": "property-city",
            "description": "",
            "parent": "0",
            "count": "8"
        }, {
            "term_id": "39",
            "name": "Little Havana",
            "slug": "little-havana",
            "term_group": "0",
            "term_taxonomy_id": "39",
            "taxonomy": "property-city",
            "description": "",
            "parent": "25",
            "count": "3"
        }, {
            "term_id": "41",
            "name": "Perrine",
            "slug": "perrine",
            "term_group": "0",
            "term_taxonomy_id": "41",
            "taxonomy": "property-city",
            "description": "",
            "parent": "25",
            "count": "1"
        }, {
            "term_id": "45",
            "name": "Doral",
            "slug": "doral",
            "term_group": "0",
            "term_taxonomy_id": "45",
            "taxonomy": "property-city",
            "description": "",
            "parent": "25",
            "count": "1"
        }],
        "select_names": ["location", "child-location", "grandchild-location", "great-grandchild-location"],
        "select_count": "1",
        "locations_in_params": []
    };
    /* ]]> */
</script>
<script type='text/javascript'
        src='http://inspirythemesdemo.com/realhomes/wp-content/themes/realhomes/js/custom.js?ver=1.0'></script>

</body>
</html>