{% extends "main.html.twig" %}
{% block content %}
<div id="home-flexslider" class="clearfix">
    <div class="flexslider">
        <ul class="slides">
            <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item;" class="flex-active-slide">
                <div class="desc-wrap">
                    <div class="slide-description">
                        <h3>&nbsp;</h3>
                        <p>Ежедневное обновление базы</p>
                        <p>Более 5000 актуальных вариантов</p>
                        <p>Стоимость доступа 3000 рублей</p>
                        {% if app.user  %}
                            <a href="/admin/webant/app/realty/list" class="know-more">Посмотреть объекты</a>
                        {% else %}
                            <a href="/?auth=auth" class="know-more">Зайти</a>
                        {% endif %}
                    </div>
                </div>
                <a href="#"><img src="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/slide-two.jpg" alt="1200 Anastasia Avenue, Coral Gables"></a>
            </li>
            <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;" class="">
                <div class="desc-wrap">
                    <div class="slide-description">
                        <h3>&nbsp;</h3>
                        <p>Работаем до полного заселения</p>
                        <p>За каждым клиентом закреплен личный менеджер</p>
                        <p>С 10 до 19 без выходных</p>
                        {% if app.user  %}
                            <a href="/admin/webant/app/realty/list" class="know-more">Посмотреть объекты</a>
                        {% else %}
                            <a href="/?auth=auth" class="know-more">Зайти</a>
                        {% endif %}
                    </div>
                </div>
                <a href="#"><img src="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/slide-one.jpg" alt="Florida 5, Pinecrest, FL"></a>
            </li>
        </ul>
        <ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></div>
</div>
    <br/><br/>
<div class="container contents listing-grid-layout">

<div class="row">

<div class="span12 main-wrap">


</div>
<!-- End span9 -->
</div>
<!-- End contents row -->

</div>
{% endblock %}