{% extends 'base.html.twig' %}

    {#{% block stylesheets %}#}
        {#{% stylesheets#}
        {#'bundles/css/normalize.css'#}
        {#'bundles/css/cartWidget.css'#}
        {#'bundles/css/main.css'#}
        {#'bundles/css/jquery.selectbox.css'#}
        {#'bundles/sonataadmin/vendor/bootstrap/dist/css/bootstrap.min.css'#}
        {#filter='cssrewrite' %}#}
        {#<link rel="stylesheet" type="text/css" href="{{ asset_url }}"  />#}
        {#{% endstylesheets %}#}
    {#{% endblock %}#}

{#
    {% javascripts
    '@LgckViewBundle/Resources/public/js/vendor/modernizr-2.6.2.min.js'
    '@LgckViewBundle/Resources/public/js/vendor/jquery-1.11.2.min.js'
    '@LgckViewBundle/Resources/public/js/vendor/jquery.selectbox-0.2.min.js'
    '@LgckViewBundle/Resources/public/js/vendor/jquery.chained.min.js'
    '@LgckViewBundle/Resources/public/js/vendor/tinysort.min.js'
    '@LgckViewBundle/Resources/public/js/sort.js'
    '@LgckViewBundle/Resources/public/js/plugins.js'
    '@LgckViewBundle/Resources/public/js/popup.js'
    '@LgckViewBundle/Resources/public/js/jquery.inputmask.js'
    '@LgckViewBundle/Resources/public/js/jquery.validate.min.js'
    '@LgckViewBundle/Resources/public/js/jquery.cookie.js'
    '@LgckViewBundle/Resources/public/js/cookies.js'
    '@LgckViewBundle/Resources/public/js/search.js'
    '@LgckViewBundle/Resources/public/js/input.validation.js'%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
#}






{% block body %}
    <h1 align="center">Главная страница</h1>
    <form action="login_check" method="post" role="form" class="form-horizontal">
        <input type="hidden" name="_csrf_token" value="68JTsYpOXBt6wzOIEU33WJ3d2p325Nm2FduBraXUqjA">

        <div class="form-group">
            <label for="username" class="col-sm-offset-2 col-lg-1 col-sm-1 control-label">Имя пользователя:</label>
            <div class="col-lg-5 col-sm-5"><input type="text" class="form-control" id="username" name="_username" value="" required="required"></div>
        </div>

        <div class="form-group control-group">
            <label for="password" class="col-sm-offset-2 col-lg-1 col-sm-1 control-label">Пароль:</label>

            <div class="col-lg-5 col-sm-5"><input type="password" class="form-control" id="password" name="_password" required="required"></div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox control-group">
                    <label for="remember_me">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                        Запомнить меня
                    </label>
                </div>
            </div>
        </div>

{#
        <div class="form-group control-group">
            <div class="controls col-sm-offset-3 col-sm-9">
                <a href="resetting/request">забыли пароль?</a>
            </div>
        </div>
#}

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <input type="submit" id="_submit" name="_submit" class="btn btn-primary" value="Войти">
            </div>
        </div>
    </form>



    <nav class="main-menu listing-layout col-sm-offset-3 col-sm-9">
        <ul class="menu-main-menu-container list-inline">
            {% for item in navigation %}
                <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
            {% endfor %}
        </ul>
    </nav>

    <div class="main">
        <section class="listing-layout col-sm-offset-3 col-sm-4">
            <h3 class="title-heading">Статьи</h3>
            {% for item in articles %}
            <div class="list-container">
                <article class="about-agent clearfix">
                    <h4><a href="">{{ item.caption }}</a></h4>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="agent-content">
                                <p>
                                    {{ item.text }}
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            {% endfor %}
        </section>
    </div>


{% endblock %}



