{% extends "main.html.twig" %}
{% block content %}
<div class="container contents listing-grid-layout">

    <div class="row">

        <div class="span12 main-wrap">
            <!-- Main Content -->
            <div class="main">

                <div class="inner-wrapper">
                    <article id="post-131" class="clearfix post-131 page type-page status-publish hentry">
                    </article>
                    <div class="map-container clearfix">
                        <div id="map_canvas"
                             style="position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);">

                        </div>
                        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
                        <script type="text/javascript">
                            // Google Map
                            function initializeContactMap()
                            {
                                var officeLocation = new google.maps.LatLng(47.233741,39.7156185);
                                var contactMapOptions = {
                                    center: officeLocation,
                                    zoom: 17,
                                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                                    scrollwheel: false
                                };
                                var contactMap = new google.maps.Map(document.getElementById("map_canvas"), contactMapOptions);
                                var contactMarker = new google.maps.Marker({
                                    position: officeLocation,
                                    map: contactMap
                                });
                            }

                            window.onload = initializeContactMap();
                        </script>                                </div>
                    <section class="contact-details clearfix">
                        <h3>Дон-Эстейт</h3>
                        <ul class="contacts-list">
                            <li class="phone">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
<path class="path" d="M5.597 1.999C6.4 2 8 2 8.1 5.51C8.017 6.1 7.8 6.3 7.5 6.658C7.12 7.1 6.4 7.9 6.4 9.2 c0 1.5 1 3.1 3.1 5.198c1.143 1.2 3.3 3.1 4.8 3.123c1.222 0 1.856-0.836 2.128-1.192 c0.18-0.236 0.284-0.373 0.862-0.468h0.055c3.91 0 4.6 0.8 4.6 2.476c0 0.358-0.151 1.891-0.893 2.8 c-0.297 0.382-1.161 0.789-2.695 0.789c-3.012 0-7.658-1.598-11.249-5.162C2.085 11.7 2 4.7 2 4.6 C2.021 2.2 4.8 2 5.6 2 M5.598-0.001c-0.385 0-5.578 0.084-5.578 4.624c0 0-0.041 7.8 5.8 13.6 c3.825 3.8 8.9 5.7 12.7 5.747c1.914 0 3.46-0.515 4.273-1.56c1.314-1.688 1.314-4.07 1.314-4.07 c0-4.618-4.734-4.47-6.801-4.476c-2.345 0.324-2.198 1.66-2.843 1.66c-0.187 0-1.32-0.393-3.409-2.523 c-2.106-2.085-2.527-3.234-2.527-3.797c0-1.265 1.396-1.328 1.662-3.602c-0.004-1.028-0.011-5.563-4.482-5.632 C5.621-0.001 5.613-0.001 5.598-0.001L5.598-0.001z"></path>
</svg>
                                Телефон : <span class="desktop-version">+7 (928) 628-63-53</span><a class="mobile-version" href="tel://+79286286353" title="Позвонить">+7 (928) 628-63-53</a></li><li class="mobile">

{#
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
<path class="path" fill-rule="evenodd" clip-rule="evenodd" d="M18 24c1.657 0 2.999-1.341 3-2.999V2.999C20.999 1.3 19.7 0 18 0H6.001 C4.343 0 3 1.3 3 2.999v18.002C3.001 22.7 4.3 24 6 24H18z M6.001 22.001c-0.553 0-1-0.448-1.001-1V2.999 C5.001 2.4 5.4 2 6 2h9C15.552 2 16 2.4 16 2.999v18.002c-0.002 0.552-0.448 1-0.999 1H6.001z M19 21 c-0.001 0.552-0.447 1-1 1h-0.184c0.111-0.314 0.184-0.647 0.184-1V2.999C18 2.6 17.9 2.3 17.8 2H18 c0.553 0 1 0.4 1 0.999V21.001z"></path>
                                    <circle class="circle" fill-rule="evenodd" clip-rule="evenodd" cx="10.5" cy="19.5" r="1.5"></circle>
                                    <path class="path" fill-rule="evenodd" clip-rule="evenodd" d="M12 2.999H8.999C8.447 3 8 3.4 8 4c0 0.6 0.4 1 1 1H12 c0.552 0 1-0.448 1-1C13 3.4 12.6 3 12 2.999z"></path>
</svg>
                                Телефон : <span class="desktop-version">+7 (928) 628-63-53</span><a class="mobile-version" href="tel://+79286286353" title="Позвонить">+7 (928) 628-63-53</a></li><li class="fax">
#}


                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
<path class="path" d="M8.174 15.926l-6.799 5.438c-0.431 0.346-0.501 0.975-0.156 1.406s0.974 0.5 1.4 0.156l7.211-5.769L8.174 15.926z"></path>
                                    <path class="path" d="M15.838 15.936l-1.685 1.214l7.222 5.777c0.433 0.3 1.1 0.3 1.406-0.156c0.345-0.432 0.274-1.061-0.157-1.406 L15.838 15.936z"></path>
                                    <polygon class="path" points="1,10.2 1.6,10.9 12,2.6 22,10.6 22,22 2,22 2,10.2 1,10.2 1.6,10.9 1,10.2 0,10.2 0,24 24,24 24,9.7 12,0 0,9.7 0,10.2 1,10.2 1,10.2"></polygon>
                                    <polygon class="path" points="23.6,11.7 12.6,19.7 11.4,19.7 0.4,11.7 0.4,11.7 0.4,11.7 1.6,10.1 12,17.6 22.4,10.1"></polygon>
</svg>
                                Email : <a href="mailto:info@don.estate@mail.ru">don.estate@mail.ru</a></li><li class="address">

                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 32 32" height="16px" id="Layer_1" version="1.1" viewBox="0 0 32 32" width="16px" xml:space="preserve">
  <g id="location">
      <path class="path" clip-rule="evenodd" d="M16.002 17.746c3.309 0 6-2.692 6-6s-2.691-6-6-6 c-3.309 0-6 2.691-6 6S12.693 17.7 16 17.746z M16.002 6.746c2.758 0 5 2.2 5 5s-2.242 5-5 5c-2.758 0-5-2.242-5-5 S13.244 6.7 16 6.746z" fill="#333333" fill-rule="evenodd"></path>
      <path class="path" clip-rule="evenodd" d="M16 0C9.382 0 4 5.3 4 12.001c0 7 6 14.2 10.4 19.2 C14.392 31.2 15.1 32 16 32c0.002 0 0.1 0 0.1 0c0.867 0 1.57-0.785 1.586-0.805 c4.377-5.033 10.377-12.193 10.377-19.194C28.002 5.3 22.6 0 16 0z M16.117 29.883c-0.021 0.02-0.082 0.064-0.135 0.1 c-0.01-0.027-0.084-0.086-0.129-0.133C12.188 25.6 6 18.5 6 12.001C6 6.5 10.5 2 16 2c5.516 0 10 4.5 10 10 C26.002 18.5 19.8 25.6 16.1 29.883z" fill="#333333" fill-rule="evenodd"></path>
  </g>
</svg>
                                Адрес : Ростов-на-Дону, Варфоломеева 259 Главный офис</li>
                        </ul>
                    </section>
                </div>

            </div><!-- End Main Content -->
        </div>
        <!-- End span9 -->
    </div>
    <!-- End contents row -->

</div>
{% endblock %}