{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}
{% block field%}
    {% if object.getOldId %}
        <a href="http://neagent.info/rostov/base/{{ object.getOldId }}/" target="_blank">
            Ссылка на neagent
        </a>
    {% endif %}
    {#http://www.redirect.am/?#}
    {#<div>#}
        {#<strong>{{ object.getId }}</strong>#}
    {#</div>#}

    {#{% if admin.datagrid.results|length > 1 %}#}
        {#<div>#}
            {#<strong>{{ object.getNombreAnnonce}}</strong>#}
        {#</div>#}
    {#{% endif %}#}
{% endblock %}
