{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}
{% block field%}
    <img src="/phoneimgs/{{ object.getId }}.png">
    <img src="/arenda/web/phoneimgs/{{ object.getId }}.png">
    {#<div>#}
        {#<strong>{{ object.getId }}</strong>#}
    {#</div>#}

    {#{% if admin.datagrid.results|length > 1 %}#}
        {#<div>#}
            {#<strong>{{ object.getNombreAnnonce}}</strong>#}
        {#</div>#}
    {#{% endif %}#}
{% endblock %}
