{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field%}


    {% if object.getPhone  %}
        <img src="/phoneimgs/_{{ object.getOldId }}.png">
    {% endif %}


    {#<div>#}
        {#<strong>{{ object.getId }}</strong>#}
    {#</div>#}

    {#{% if admin.datagrid.results|length > 1 %}#}
        {#<div>#}
            {#<strong>{{ object.getNombreAnnonce}}</strong>#}
        {#</div>#}
    {#{% endif %}#}
{% endblock %}
