
{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{#{% extends admin_pool.getTemplate('layout') %}#}

{% block top_bar_before_nav %}
{% endblock %}

{% block top_bar_after_nav %}

{% endblock %}


{% block side_bar_after_nav %}
    {%  if is_granted('ROLE_SUPER_ADMIN') %}
    <ul class="sidebar-menu">
        <li>
            <a href="/admin/stats/" style="margin-left: 10px;">
                <i class="fa fa-angle-double-right"></i>
                Статистика
            </a>
        </li>
    </ul>
    {% endif %}
{% endblock %}


{% block sonata_sidebar_search %}
{% endblock sonata_sidebar_search %}
