{% extends 'WebAntAppBundle::standard_layout.html.twig' %}
{% block top_bar_after_nav %}
{% endblock %}



{% block content %}
    <div class="sonata-ba-list">
        <div class="box box-primary">
            <div class="box-body table-responsive no-padding">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr class="sonata-ba-list-field-header">
                            {% for col in cols %}
                                <th>{{ col.label }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                {% for col in cols %}
                                    <th>{{ user[col.param] }}</th>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

